// =============================================================================
// Listing
// =============================================================================

// Listing
// -----------------------------------------------------------------------------
//
// Purpose: A list of articles
//
//
// 1. Add margin to the top of the meta item if it follows another one
// 2. Add margin to the left of the meta item if it follows another one
//
// -----------------------------------------------------------------------------

.c-listing {
    @include global-component-margins;
}

.c-listing__item {
    @include make-col-ready();
    @include make-col(12);
    margin-bottom: $unit-large;

    &:last-of-type {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
        @include make-col(6);
        margin-bottom: $unit-xlarge;
    }
}

.c-listing__item-media-container {
    @include make-col-ready();
    @include make-col(12);
    margin-bottom: $unit-small;

    @include media-breakpoint-up(md) {
        margin-bottom: $unit;
    }
}

.c-listing__item-media-link {
    display: block;
}

.c-listing__item-media {
    width: 100%;
}

.c-listing__item-content-container {
    @include make-col-ready();
    @include make-col(12);
}

.c-listing__item-title {
    margin-bottom: $unit-small;
}


// Listing Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default listing
//
//
// 1.
//
// -----------------------------------------------------------------------------