// =============================================================================
// Accordion
// =============================================================================

// Accordion
// -----------------------------------------------------------------------------
//
// Purpose: Accordion
//
//
// 1.
//
// -----------------------------------------------------------------------------

.c-accordion {
    @include global-component-margins;
}

.c-accordion__row-container {
    @include make-col-ready;
    @include make-col(12);
}

.c-accordion__heading {
    background-color: $color-accordion-heading-bg;
    color: $color-accordion-heading-text;
    padding: $unit-small $unit;
    cursor: pointer;
    position: relative;

    &::after {
        @extend .icomoon;
        @extend .icon-arrow-down:before;
        @include para;
        right: $unit;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.c-accordion__panel {
    border: 1px solid $color-accordion-heading-bg;
    padding: $unit-small $unit;
}


// Accordion Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default accordion
//
//
// 1. Sets active styling for a heading
// 2. Sets hidden state for panel
//
// -----------------------------------------------------------------------------

// 1
.c-accordion__heading.is-active {
    &::after {
        @extend .icon-arrow-up:before;
    }
}

// 2
.c-accordion__panel.is-hidden {
    display: none;
}
