<div class="c-accordion js-accordion" role="tablist" aria-multiselectable="true">
    <div class="container">
        <div class="row">
            <div class="c-accordion__row-container">
                <h2 class="c-accordion__heading heading js-accordion-heading" id="@@identifier-accordion-header-1" role="tab" aria-controls="@@identifier-accordion-panel-1" aria-selected="false" aria-expanded="false">Accordion header 1</h2>
                <div class="c-accordion__panel js-accordion-panel is-hidden" id="@@identifier-accordion-panel-1" role="tabpanel" aria-labelledby="@@identifier-accordion-header-1" aria-hidden="true">
                    <div class="cms-content">
                        <h3>Accordion panel 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="c-accordion__row-container">
                <h2 class="c-accordion__heading heading js-accordion-heading" id="@@identifier-accordion-header-2" role="tab" aria-controls="@@identifier-accordion-panel-2" aria-selected="false" aria-expanded="false">Accordion header 2</h2>
                <div class="c-accordion__panel js-accordion-panel is-hidden" id="@@identifier-accordion-panel-2" role="tabpanel" aria-labelledby="@@identifier-accordion-header-2" aria-hidden="true">
                    <div class="cms-content">
                        <h3>Accordion panel 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="c-accordion__row-container">
                <h2 class="c-accordion__heading heading js-accordion-heading" id="@@identifier-accordion-header-3" role="tab" aria-controls="@@identifier-accordion-panel-3" aria-selected="false" aria-expanded="false">Accordion header 3</h2>
                <div class="c-accordion__panel js-accordion-panel is-hidden" id="@@identifier-accordion-panel-3" role="tabpanel" aria-labelledby="@@identifier-accordion-header-3" aria-hidden="true">
                    <div class="cms-content">
                        <h3>Accordion panel 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
