<div class="c-author">
    <div class="container">
        <div class="row">
            <div class="c-author__wrapper">
                <div class="row">
                    <div class="c-author__image-container">
                        <img src="http://placehold.it/50x50/000?width=50" data-src="http://placehold.it/400x400/000?width=400" class="c-author__image lazyload" alt="Placeholder Image" />
                    </div>
                    <div class="c-author__content-container">
                        <h2 class="c-author__name heading-small">Author Name</h2>
                        <p class="c-author__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum scelerisque ex. Pellentesque feugiat id felis at ornare.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>