<blockquote class="c-blockquote {{class}}">
    <div class="container">
        <div class="row">
            <div class="c-blockquote__content-container">
                <p class="c-blockquote__quote para-large">@@quote</p>
                @@if (authorname) {
                    <footer class="c-blockquote__author">
                        <p class="c-blockquote__author-name">@@authorname</p>
                    </footer>
                }
            </div>
        </div>
    </div>
</blockquote>
