<div class="c-blog-article" itemscope itemtype="http://schema.org/NewsArticle">
    <link itemprop="mainEntityOfPage" href="http://www.sitename.com/component-blog-article.html"/> <!-- replace this with article url -->
    <progress value="0" class="c-blog-article__progress-bar" id="js-blog-article-progress-bar"></progress>
    <div class="container">
        <div class="row">
            <div class="c-blog-article__content">
                <div class="c-blog-article__header-container">
                    <h1 class="c-blog-article__title heading-large" itemprop="headline">Blog article title would go here</h1>

                    <ul class="c-blog-article__meta">
                        <li class="c-blog-article__meta-item">
                            <time class="c-blog-article__meta-value" content="2017-01-01" itemprop="datePublished" datetime="2017-01-01">1st Jan 2017</time>
                        </li>
                        <li class="c-blog-article__meta-item" itemprop="author" itemscope itemtype="https://schema.org/Person">
                            <span class="c-blog-article__meta-value" itemprop="name">Author</span>
                        </li>
                        <li class="c-blog-article__meta-item">
                            <span class="c-blog-article__meta-value">5 mins read</span>
                        </li>
                        <li class="c-blog-article__meta-item">
                            <span class="c-blog-article__meta-value"><a href="#" class="c-blog-article__category">Category</a>, <a href="#" class="c-blog-article__category">Category</a></span>
                        </li>
                    </ul>
                </div>
                <div class="c-blog-article__content-container cms-content">
                    <p>Mauris laoreet metus sit amet felis congue, id condimentum nulla placerat. Maecenas efficitur mollis tortor vitae convallis. Vestibulum quam arcu, vehicula eget eros at, venenatis aliquet felis. Aenean gravida, tellus non condimentum scelerisque, augue mauris hendrerit mauris, et consequat urna enim vitae libero. Vivamus vel rutrum sapien, faucibus iaculis enim. Curabitur consequat ac quam ut interdum.</p>
                    <h2>Heading</h2>
                    <p>Duis eget nisl sit amet nulla vehicula hendrerit. Morbi gravida id risus in euismod. Quisque elit diam, finibus vel odio sit amet, pretium interdum enim. Nunc convallis dui vitae mauris semper, at sollicitudin ante molestie. Ut posuere pellentesque congue. Aenean ac turpis at velit sollicitudin fermentum quis et neque. Nunc dapibus pharetra interdum.</p>
                    <p>Vestibulum molestie diam tincidunt dui feugiat, non dignissim sem dapibus. Ut condimentum vehicula venenatis. Aenean pharetra turpis eget tellus ultricies consectetur. Duis porttitor ullamcorper libero. Maecenas sit amet lorem ipsum. Etiam id justo sodales, efficitur orci id, volutpat lorem. Pellentesque id faucibus erat, at efficitur felis. Nullam pretium tristique tortor, nec facilisis elit accumsan vel. Nam non facilisis lorem.</p>
                    <h3>Heading</h3>
                    <p>Mauris laoreet metus sit amet felis congue, id condimentum nulla placerat. Maecenas efficitur mollis tortor vitae convallis. Vestibulum quam arcu, vehicula eget eros at, venenatis aliquet felis. Aenean gravida, tellus non condimentum scelerisque, augue mauris hendrerit mauris, et consequat urna enim vitae libero. Vivamus vel rutrum sapien, faucibus iaculis enim. Curabitur consequat ac quam ut interdum.</p>
                    <img src="http://placehold.it/225x300/000/fff?width=225" alt="Placeholder image" style="float: right;" />
                    <p>Duis eget nisl sit amet nulla vehicula hendrerit. Morbi gravida id risus in euismod. Quisque elit diam, finibus vel odio sit amet, pretium interdum enim. Nunc convallis dui vitae mauris semper, at sollicitudin ante molestie. Ut posuere pellentesque congue. Aenean ac turpis at velit sollicitudin fermentum quis et neque. Nunc dapibus pharetra interdum.</p>
                    <h4>Heading</h4>
                    <p>Vestibulum molestie diam tincidunt dui feugiat, non dignissim sem dapibus. Ut condimentum vehicula venenatis. Aenean pharetra turpis eget tellus ultricies consectetur. Duis porttitor ullamcorper libero. Maecenas sit amet lorem ipsum. Etiam id justo sodales, efficitur orci id, volutpat lorem. Pellentesque id faucibus erat, at efficitur felis. Nullam pretium tristique tortor, nec facilisis elit accumsan vel. Nam non facilisis lorem.</p>
                    <p>Duis eget nisl sit amet nulla vehicula hendrerit. Morbi gravida id risus in euismod. Quisque elit diam, finibus vel odio sit amet, pretium interdum enim. Nunc convallis dui vitae mauris semper, at sollicitudin ante molestie. Ut posuere pellentesque congue. Aenean ac turpis at velit sollicitudin fermentum quis et neque. Nunc dapibus pharetra interdum.</p>
                    <iframe src="https://www.youtube.com/embed/DBXH9jJRaDk?showinfo=0"></iframe>
                    <p>Duis eget nisl sit amet nulla vehicula hendrerit. Morbi gravida id risus in euismod. Quisque elit diam, finibus vel odio sit amet, pretium interdum enim. Nunc convallis dui vitae mauris semper, at sollicitudin ante molestie. Ut posuere pellentesque congue. Aenean ac turpis at velit sollicitudin fermentum quis et neque. Nunc dapibus pharetra interdum.</p>
                </div>
            </div>

            <!-- meta data related to the article - an image that will appear in search results -->
            <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="http://placehold.it/800x800"/> <!-- replace this with summary image url -->
                <meta itemprop="width" content="800"/> <!-- replace this with summary image width -->
                <meta itemprop="height" content="800"/> <!-- replace this with summary image height -->
            </div>

            <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="http://placehold.it/160x90"/> <!-- replace this with site logo image url -->
                    <meta itemprop="width" content="160"/> <!-- replace this with site logo image width -->
                    <meta itemprop="height" content="90"/> <!-- replace this with site logo image height -->
                </div>
                <meta itemprop="name" content="Exposure"/> <!-- replace this with site name -->
            </div>
        </div>
    </div>
</div>