<article class="c-blog-listing__item @@class">
    <div class="row">

        @@if (image) {
        <div class="c-blog-listing__item-media-container">
            <a href="#" class="c-blog-listing__item-media-link">
                <picture>
                    <source srcset="http://placehold.it/50x28/000/fff?width=50" data-srcset="http://placehold.it/700x394/000/fff?width=700" media="(min-width: 768px)" />
                    <source srcset="http://placehold.it/50x28/000/fff?width=50" data-srcset="http://placehold.it/300x169/000/fff?width=300" media="(min-width: 300px)" />
                    <img src="http://placehold.it/50x28/000/fff?width=50" class="c-blog-listing__item-media lazyload" alt="Placeholder image" />
                </picture>
            </a>
        </div>
        }

        <div class="c-blog-listing__item-content-container">
            <h2 class="c-blog-listing__item-title heading">
                <a href="#" class="c-blog-listing__item-title-link">@@title</a>
            </h2>

            <ul class="c-blog-listing__item-meta">
                <li class="c-blog-listing__item-meta-item">
                    <time class="c-blog-listing__item-meta-value" datetime="2017-01-01">1st Jan 2017</time>
                </li>
                <li class="c-blog-listing__item-meta-item">
                    <span class="c-blog-listing__item-meta-value">Author</span>
                </li>
            </ul>

            <div class="c-blog-listing__item-summary-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum scelerisque ex. Pellentesque feugiat id felis at ornare. Ut porta orci quis rutrum eleifend.</p>
            </div>
        </div>
    </div>
</article>
