<nav class="c-breadcrumb">
    <div class="container">
        <div class="row">
            <span class="u-visually-hide" id="label-breadcrumb">You are here:</span>
            <div class="c-breadcrumb__wrapper">
                <ol class="c-breadcrumb__items" aria-labelledby="label-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="" class="c-breadcrumb__link" itemscope itemtype="http://schema.org/Thing" itemprop="item">
                            <span itemprop="name">Home</span>
                        </a>
                        <meta itemprop="position" content="1" />
                    </li>
                    <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="" class="c-breadcrumb__link" itemscope itemtype="http://schema.org/Thing" itemprop="item">
                            <span itemprop="name">News</span>
                        </a>
                        <meta itemprop="position" content="2" />
                    </li>
                    <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a class="c-breadcrumb__link is-active" aria-current="location" itemscope itemtype="http://schema.org/Thing" itemprop="item">
                            <span itemprop="name">News Article</span>
                        </a>
                        <meta itemprop="position" content="3" />
                    </li>
                </ol>
            </div>
        </div>
    </div>
</nav>
