<article class="c-event-listing__item">
    <h2 class="c-event-listing__item-title heading">
        <a href="#" class="c-event-listing__item-title-link">@@title</a>
    </h2>

    @@if(daterange) {
        <div class="c-event-listing__item-date">
                <time datetime="2017-03-06">6th Mar 2017</time> - <time datetime="2017-03-08">8th Mar 2017</time>
        </div>
    }

    @@if(!daterange) {
        <div class="c-event-listing__item-date">
            <time datetime="2017-03-06">6th Mar 2017</time>
        </div>
    }

    <div class="c-event-listing__item-summary">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum scelerisque ex. Pellentesque feugiat id felis at ornare. Ut porta orci quis rutrum eleifend.</p>
    </div>
</article>