<div class="c-event-article" itemscope itemtype="http://schema.org/Event">
    <div class="container">
        <div class="row">
            <div class="c-event-article__header-container">
                <h1 class="c-event-article__title heading-large" itemprop="name">Event name would go here</h1>
                <div class="c-event-article__date">
                    <time itemprop="startDate" content="2017-03-06" datetime="2017-03-06">6th Mar 2017</time> - <time itemprop="endDate" content="2017-03-08" datetime="2017-03-08">8th Mar 2017</time> &#124; <span itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">London</span>, <span itemprop="addressRegion">UK</span></span></span>
                </div>
            </div>
            <div class="c-event-article__content-container cms-content">
                <p>Vestibulum molestie diam tincidunt dui feugiat, non dignissim sem dapibus. Ut condimentum vehicula venenatis. Aenean pharetra turpis eget tellus ultricies consectetur. Duis porttitor ullamcorper libero. Maecenas sit amet lorem ipsum. Etiam id justo sodales, efficitur orci id, volutpat lorem. Pellentesque id faucibus erat, at efficitur felis. Nullam pretium tristique tortor, nec facilisis elit accumsan vel. Nam non facilisis lorem.</p>
                <p>Duis eget nisl sit amet nulla vehicula hendrerit. Morbi gravida id risus in euismod. Quisque elit diam, finibus vel odio sit amet, pretium interdum enim. Nunc convallis dui vitae mauris semper, at sollicitudin ante molestie. Ut posuere pellentesque congue. Aenean ac turpis at velit sollicitudin fermentum quis et neque. Nunc dapibus pharetra interdum.</p>
            </div>
        </div>
    </div>
</div>
