<article class="c-expert-listing__item @@class">
    <div class="row">

        @@if(image) {
            <div class="c-expert-listing__item-media-container">
                <a href="#" class="c-expert-listing__item-media-link">
                    <picture>
                        <source srcset="http://placehold.it/50x28/000/fff?width=50" data-srcset="http://placehold.it/700x394/000/fff?width=700" media="(min-width: 768px)" />
                        <source srcset="http://placehold.it/50x28/000/fff?width=50" data-srcset="http://placehold.it/300x169/000/fff?width=300" media="(min-width: 300px)" />
                        <img src="http://placehold.it/50x28/000/fff?width=50" class="c-expert-listing__item-media lazyload" alt="Placeholder image" />
                    </picture>
                </a>
            </div>
        }

        <div class="c-expert-listing__item-content-container">
            <h2 class="c-expert-listing__item-title heading">
                <a href="#" class="c-expert-listing__item-title-link">@@title</a>
            </h2>

            <div class="c-expert-listing__item-summary-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum scelerisque ex. Pellentesque feugiat id felis at ornare. Ut porta orci quis rutrum eleifend.</p>
            </div>
        </div>
    </div>
</article>
