<div class="c-filter-bar">
    <div class="container">
        <div class="row">
            <div class="c-filter-bar__toggle-btn-container">
                <button class="c-filter-bar__toggle-btn c-btn" type="button" id="js-filter-bar-toggle-btn" aria-controls="js-filter-bar-filters-container">Toggle filters</button>
            </div>

            <div class="c-filter-bar__filters-container" id="js-filter-bar-filters-container">
                <div class="row">
                    <div class="c-filter-bar__title-container">
                        <strong class="c-filter-bar__title heading-small">Filter by:</strong>
                    </div>
                    <div class="c-filter-bar__option-container">
                        <div class="row">
                            <div class="c-filter-bar__option">
                                <label for="filter-1" class="c-form__label u-visually-hide">Filter 1:</label>
                                <div class="c-filter-bar__option-selectbox c-selectbox">
                                    <select class="c-selectbox__select" id="filter-1">
                                        <option>Please select</option>
                                        <option>Option</option>
                                    </select>
                                </div>
                            </div>
                            <div class="c-filter-bar__option">
                                <label for="filter-2" class="c-form__label u-visually-hide">Filter 2:</label>
                                <div class="c-filter-bar__option-selectbox c-selectbox">
                                    <select class="c-selectbox__select" id="filter-2">
                                        <option>Please select</option>
                                        <option>Option</option>
                                    </select>
                                </div>
                            </div>
                            <div class="c-filter-bar__option">
                                <label for="filter-3" class="c-form__label u-visually-hide">Filter 3:</label>
                                <div class="c-filter-bar__option-selectbox c-selectbox">
                                    <select class="c-selectbox__select" id="filter-3">
                                        <option>Please select</option>
                                        <option>Option</option>
                                    </select>
                                </div>
                            </div>
                            <div class="c-filter-bar__submit-container">
                                <button type="submit" class="c-btn c-btn--primary">Apply filters</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
