<section class="c-image">
    <div class="container">
        <div class="row">
            <figure class="c-image__container">
                <picture>
                    <source srcset="http://placehold.it/50x28/000/fff?width=50" data-srcset="http://placehold.it/1000x563/000/fff?width=1000" media="(min-width: 768px)" />
                    <source srcset="http://placehold.it/50x28/000/fff?width=50" data-srcset="http://placehold.it/500x281/000/fff?width=500" media="(min-width: 300px)" />
                    <img src="http://placehold.it/50x28/000/fff?width=50" class="c-image__media lazyload" alt="Placeholder image" />
                </picture>
                <figcaption class="c-image__caption">@@caption</figcaption>
            </figure>
        </div>
    </div>
</section>
