<a href="#main-content" class="u-visually-hide">Skip to content</a>
<nav class="c-navbar">
    <div class="container">
        <div class="row">
            <div class="c-navbar__wrapper">
                <a href="template-homepage.html" class="c-navbar__brand"><img src="/resources/images/logo.svg" alt="Exposure" /></a>
                <div class="c-navbar__links" id="js-navbar-links">
                    <ul class="c-navbar__list">
                        <li class="c-navbar__item"><a href="template-about.html" class="c-navbar__link is-active" aria-current="page">About</a></li>
                        <li class="c-navbar__item"><a href="template-blog-article.html" class="c-navbar__link">Blog</a></li>
                        <li class="c-navbar__item"><a href="template-event-index.html" class="c-navbar__link">Events</a></li>
                        <li class="c-navbar__item"><a href="template-expert-index.html" class="c-navbar__link">Experts</a></li>
                        <li class="c-navbar__item"><a href="template-contact.html" class="c-navbar__link">Contact us</a></li>
                    </ul>
                </div>
                <button class="c-navbar__menu" id="js-navbar-menu-toggle" aria-controls="js-navbar-links" type="button"><i class="icon-burger" aria-hidden="true"></i><span class="u-visually-hide">Menu</span></button>
            </div>
        </div>
    </div>
</nav>
