<nav class="c-pagination">
    <div class="container">
        <div class="row">
            <span class="u-visually-hide" id="label-pagination">Pagination</span>
            <div class="c-pagination__wrapper" aria-labelledby="label-pagination">
                <ol class="c-pagination__items">
                    <li class="c-pagination__item c-pagination__item--prev"><a href="" class="c-pagination__link"><i class="c-pagination__link-icon icon-arrow-left"></i><span class="u-visually-hide">Go to</span><span class="c-pagination__link-text"> Previous </span><span class="u-visually-hide">page</span></a></li>
                    <li class="c-pagination__item"><a href="" class="c-pagination__link is-active"><span class="u-visually-hide">Go to page</span> 1</a></li>
                    <li class="c-pagination__item"><a href="" class="c-pagination__link"><span class="u-visually-hide">Go to page</span> 2</a></li>
                    <li class="c-pagination__item"><a href="" class="c-pagination__link"><span class="u-visually-hide">Go to page</span> 3</a></li>
                    <li class="c-pagination__item"><a href="" class="c-pagination__link"><span class="u-visually-hide">Go to page</span> 4</a></li>
                    <li class="c-pagination__item c-pagination__item--next"><a href="" class="c-pagination__link"><span class="u-visually-hide">Go to</span><span class="c-pagination__link-text"> Next </span><span class="u-visually-hide">page</span> <i class="c-pagination__link-icon icon-arrow-right"></i></a></li>
                </ol>
            </div>
        </div>
    </div>
</nav>
