<div class="c-resource-article" itemscope itemtype="http://schema.org/DigitalDocument">
    <div class="container">
        <div class="row">
            <div class="c-resource-article__content">
                <div class="c-resource-article__header-container">
                    <h1 class="c-resource-article__title heading-large" itemprop="name">Resource name would go here</h1>
                    <ul class="c-resource-article__meta">
                        <li class="c-resource-article__meta-item">
                            <span class="c-resource-article__meta-value">10KB</span>
                        </li>
                        <li class="c-resource-article__meta-item">
                            <span class="c-resource-article__meta-value" itemprop="fileFormat">PDF</span>
                        </li>
                    </ul>
                </div>
                <div class="c-resource-article__content-container cms-content" itemprop="description">
                    <p>Mauris laoreet metus sit amet felis congue, id condimentum nulla placerat. Maecenas efficitur mollis tortor vitae convallis. Vestibulum quam arcu, vehicula eget eros at, venenatis aliquet felis. Aenean gravida, tellus non condimentum scelerisque, augue mauris hendrerit mauris, et consequat urna enim vitae libero. Vivamus vel rutrum sapien, faucibus iaculis enim. Curabitur consequat ac quam ut interdum.</p>
                    <h2>Heading</h2>
                    <p>Duis eget nisl sit amet nulla vehicula hendrerit. Morbi gravida id risus in euismod. Quisque elit diam, finibus vel odio sit amet, pretium interdum enim. Nunc convallis dui vitae mauris semper, at sollicitudin ante molestie. Ut posuere pellentesque congue. Aenean ac turpis at velit sollicitudin fermentum quis et neque. Nunc dapibus pharetra interdum.</p>
                    <p>Vestibulum molestie diam tincidunt dui feugiat, non dignissim sem dapibus. Ut condimentum vehicula venenatis. Aenean pharetra turpis eget tellus ultricies consectetur. Duis porttitor ullamcorper libero. Maecenas sit amet lorem ipsum. Etiam id justo sodales, efficitur orci id, volutpat lorem. Pellentesque id faucibus erat, at efficitur felis. Nullam pretium tristique tortor, nec facilisis elit accumsan vel. Nam non facilisis lorem.</p>
                    <h3>Heading</h3>
                    <p>Duis eget nisl sit amet nulla vehicula hendrerit. Morbi gravida id risus in euismod. Quisque elit diam, finibus vel odio sit amet, pretium interdum enim. Nunc convallis dui vitae mauris semper, at sollicitudin ante molestie. Ut posuere pellentesque congue. Aenean ac turpis at velit sollicitudin fermentum quis et neque. Nunc dapibus pharetra interdum.</p>
                </div>
                <div class="c-resource-article__action-container">
                    <a href="#" class="c-btn" itemprop="url">Download<i class="icon-download"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
