<article class="c-resource-listing__item" itemscope itemtype="http://schema.org/DigitalDocument">
    <h2 class="c-resource-listing__item-title heading" itemprop="name">
        <a href="#" class="c-resource-listing__item-title-link" itemprop="url">@@title</a>
    </h2>
    <div class="c-resource-listing__item-summary-container cms-content" itemprop="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum scelerisque ex. Pellentesque feugiat id felis at ornare. Ut porta orci quis rutrum eleifend.</p>
    </div>
    <ul class="c-resource-listing__item-meta">
        <li class="c-resource-listing__item-meta-item">
            <span class="c-resource-listing__item-meta-value">10KB</span>
        </li>
        <li class="c-resource-listing__item-meta-item">
            <span class="c-resource-listing__item-meta-value" itemprop="fileFormat">PDF</span>
        </li>
    </ul>
    <div class="c-resource-listing__item-action-container">
        <a href="/" class="c-btn" itemprop="url">Download<i class="icon-download"></i></a>
    </div>
</article>