<section class="c-searchresults">
    <div class="container">
        <div class="row">
            <div class="c-searchresults__header">
                <p class="c-blog-listing__header-label para-large">Showing results for '<strong class="c-searchresults__header-term">Search Term</strong>'</p>
            </div>
            <article class="c-searchresults__result">
                <a href="" class="c-searchresults__result-link">
                    <h2 class="c-searchresults__result-title heading-small">Page title would go here</h2>
                    <p class="c-searchresults__result-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum scelerisque ex.</p>
                </a>
            </article>
            <article class="c-searchresults__result">
                <a href="" class="c-searchresults__result-link">
                    <h2 class="c-searchresults__result-title heading-small">Page title would go here</h2>
                    <p class="c-searchresults__result-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum scelerisque ex.</p>
                </a>
            </article>
            <article class="c-searchresults__result">
                <a href="" class="c-searchresults__result-link">
                    <h2 class="c-searchresults__result-title heading-small">Page title would go here</h2>
                    <p class="c-searchresults__result-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum scelerisque ex.</p>
                </a>
            </article>
            <article class="c-searchresults__result">
                <a href="" class="c-searchresults__result-link">
                    <h2 class="c-searchresults__result-title heading-small">Page title would go here</h2>
                    <p class="c-searchresults__result-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum scelerisque ex.</p>
                </a>
            </article>
        </div>
    </div>
</section>
