@@if(!center) {
<section class="c-socialshare">
}
@@if(center) {
<section class="c-socialshare c-socialshare--center">
}
    <div class="container">
        <div class="row">
            <div class="c-socialshare__wrapper">
                <h2 class="c-socialshare__title heading-small" id="share-label">Share:</h2>
                <ul class="c-socialshare__items" aria-labelledby="share-label">
                    <li class="c-socialshare__item">
                        <a href="https://www.facebook.com/sharer/sharer.php?p[title]=&u=" target="_blank" class="c-socialshare__link js-socialshare">
                            <span class="u-visually-hide">Share on Facebook</span>
                            <i class="c-socialshare__link-icon icon-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="c-socialshare__item">
                        <a href="https://twitter.com/intent/tweet?text=&url=" target="_blank" class="c-socialshare__link js-socialshare">
                            <span class="u-visually-hide">Share on Twitter</span>
                            <i class="c-socialshare__link-icon icon-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="c-socialshare__item">
                        <a href="http://www.linkedin.com/shareArticle?mini=true&title=&summary=&source=&url=" target="_blank" class="c-socialshare__link js-socialshare">
                            <span class="u-visually-hide">Share on LinkedIn</span>
                            <i class="c-socialshare__link-icon icon-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="c-socialshare__item">
                        <a href="http://pinterest.com/pin/create/button/?description=&url=" target="_blank" class="c-socialshare__link js-socialshare">
                            <span class="u-visually-hide">Share on Pinterest</span>
                            <i class="c-socialshare__link-icon icon-pinterest" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
