@@if(!center) {
    <section class="c-sociallinks">
}
@@if(center) {
    <section class="c-sociallinks c-sociallinks--center">
}
    <div class="container">
        <div class="row">
            <div class="c-sociallinks__wrapper" itemscope itemtype="http://schema.org/Organization">
                <h2 class="c-sociallinks__title heading-small" id="social-label">Connect:</h2>
                <link href="http://www.your-company.com" itemprop="url"> <!-- replace with company url -->
                <ul class="c-sociallinks__items" aria-labelledby="social-label">
                    <li class="c-sociallinks__item">
                        <a href="http://www.facebook.com/your-company" target="_blank" class="c-sociallinks__link" itemprop="sameAs">
                            <span class="u-visually-hide">Visit us on Facebook</span>
                            <i class="c-sociallinks__link-icon icon-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="c-sociallinks__item">
                        <a href="http://www.twitter.com/your-company" target="_blank" class="c-sociallinks__link" itemprop="sameAs">
                            <span class="u-visually-hide">Visit us on Twitter</span>
                            <i class="c-sociallinks__link-icon icon-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="c-sociallinks__item">
                        <a href="https://www.linkedin.com/company/your-company" target="_blank" class="c-sociallinks__link" itemprop="sameAs">
                            <span class="u-visually-hide">Visit us on LinkedIn</span>
                            <i class="c-sociallinks__link-icon icon-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="c-sociallinks__item">
                        <a href="https://www.instagram.com/your-company" target="_blank" class="c-sociallinks__link" itemprop="sameAs">
                            <span class="u-visually-hide">Visit us on Instagram</span>
                            <i class="c-sociallinks__link-icon icon-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="c-sociallinks__item">
                        <a href="https://www.youtube.com/your-company" target="_blank" class="c-sociallinks__link" itemprop="sameAs">
                            <span class="u-visually-hide">Visit us on YouTube</span>
                            <i class="c-sociallinks__link-icon icon-youtube" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="c-sociallinks__item">
                        <a href="https://www.pinterest.com/your-company" target="_blank" class="c-sociallinks__link" itemprop="sameAs">
                            <span class="u-visually-hide">Visit us on Pinterest</span>
                            <i class="c-sociallinks__link-icon icon-pinterest" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
