<div class="c-tabs js-tabs">
    <div class="container">
        <div class="row">
            <div class="c-tabs__tablist-container">
                <ul class="c-tabs__tablist" role="tablist">
                    <li class="c-tabs__tablist-item" role="presentation">
                        <a class="c-tabs__tab js-tabs-tab is-active" id="@@identifiertab-1" href="@@identifierpanel-1" role="tab" aria-controls="@@identifierpanel-1" aria-selected="true">Tab 1</a>
                    </li>
                    <li class="c-tabs__tablist-item" role="presentation">
                        <a class="c-tabs__tab js-tabs-tab" id="@@identifiertab-2" href="#@@identifierpanel-2" role="tab" aria-controls="@@identifierpanel-2" aria-selected="false">Tab 2</a>
                    </li>
                    <li class="c-tabs__tablist-item" role="presentation">
                        <a class="c-tabs__tab js-tabs-tab" id="@@identifiertab-3" href="#@@identifierpanel-3" role="tab" aria-controls="@@identifierpanel-3" aria-selected="false">Tab 3</a>
                    </li>
                </ul>
            </div>

            <div class="c-tabs__panel-container">
                <section class="c-tabs__panel cms-content js-tabs-panel" id="@@identifierpanel-1" role="tabpanel" aria-labelledby="@@identifiertab-1" aria-hidden="false">
                    <h2>Tab panel 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </section>

                <section class="c-tabs__panel cms-content js-tabs-panel is-hidden" id="@@identifierpanel-2" role="tabpanel" aria-labelledby="@@identifiertab-2" aria-hidden="true">
                    <h2>Tab panel 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </section>

                <section class="c-tabs__panel cms-content js-tabs-panel is-hidden" id="@@identifierpanel-3" role="tabpanel" aria-labelledby="@@identifiertab-3" aria-hidden="true">
                    <h2>Tab panel 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </section>
            </div>
        </div>
    </div>
</div>
