<div class="c-taglist">
    <div class="container">
        <div class="row">
            <div class="c-taglist__wrapper">
                <ul class="c-taglist__list">
                    <li class="c-taglist__item"><a href="#" class="c-taglist__link c-btn c-btn--compact">Tag 1</a></li>
                    <li class="c-taglist__item"><a href="#" class="c-taglist__link c-btn c-btn--compact">Tag 2</a></li>
                    <li class="c-taglist__item"><a href="#" class="c-taglist__link c-btn c-btn--compact">Tag 3</a></li>
                    <li class="c-taglist__item"><a href="#" class="c-taglist__link c-btn c-btn--compact">Tag 4</a></li>
                    <li class="c-taglist__item"><a href="#" class="c-taglist__link c-btn c-btn--compact">Tag 5</a></li>
                    <li class="c-taglist__item"><a href="#" class="c-taglist__link c-btn c-btn--compact">Tag 6</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>