<section class="c-twitterfeed">
    <div class="container">
        <div class="row">
            <div class="c-twitterfeed__header">
                <h2 class="c-twitterfeed__title heading">Tweets by <a href="https://twitter.com/exposuredigi" target="_blank">@exposuredigi</a></h2>
            </div>
        </div>
        <div class="row">
            <div class="c-twitterfeed__tweet">
                <a href="" class="c-twitterfeed__tweet-time">yesterday</a>
                <p class="c-twitterfeed__tweet-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="">Pellentesque</a> vestibulum scelerisque ex. Pellentesque feugiat id felis at ornare.</p>
            </div>
            <div class="c-twitterfeed__tweet">
                <a href="" class="c-twitterfeed__tweet-time">3 days ago</a>
                <p class="c-twitterfeed__tweet-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="">Pellentesque</a> vestibulum scelerisque ex. Pellentesque feugiat id felis at ornare.</p>
            </div>
            <div class="c-twitterfeed__tweet">
                <a href="" class="c-twitterfeed__tweet-time">2 weeks ago</a>
                <p class="c-twitterfeed__tweet-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="">Pellentesque</a> vestibulum scelerisque ex. Pellentesque feugiat id felis at ornare.</p>
            </div>
        </div>
    </div>
</section>